@tailwind base;
@tailwind components;
@tailwind utilities;

.game-board {
  width: 500px;
  height: 500px;
  line-height: 0;
}

.square {
  color: red;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
}

.square:hover {
  background-color: #ffd966;
}

.possible {
  background-color: #bf9000 !important;
}

.white-square {
  background-color: white;
}

.black-square {
  background-color: #333;
}
